* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.App {
  text-align: center;
  max-width: 600px;
  height: 100vh;
  margin: auto;
  display: flex;
}

.joinChatContainer {
  display: flex;
  flex-flow: column;
  max-width: 400px;
  justify-content: center;
  margin: auto;
}

.joinChatContainer h3 {
  height: 60px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinChatContainer .joinInput {
  display: flex;
  padding: 0 0 8px;
}


.joinChatContainer .joinInput span{
  flex: 120px;
  margin-right: 4px;
  text-align: right;
}

.joinChatContainer button{
  width: 120px;
  margin: 10px auto 0;
  background: #198964;
  color: #fff;
  font-size: 20px;
}